# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.DS_Store
npm-debug.log

_old
_tools
_work
ionic

node_modules/
dev/platforms/
dev/plugins/
push
copy
offline-sync
ionFullApp
rcstest
webSqlApp
dev/www/sync
beacons
testapps
dist
dev/www/css
upload/
public/*
